HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
febs-auth/src/main/resources/logback-spring.xml
febs-common/src/main/resources/
febs-gateway/src/main/resources/logback-spring.xml
febs-monitor/febs-monitor-admin/src/main/resources/logback-spring.xml
febs-monitor/febs-monitor-admin/src/main/resources/static/
febs-monitor/febs-monitor-admin/src/main/resources/templates/
febs-monitor/febs-monitor-admin/src/test/
febs-register/src/main/resources/logback-spring.xml
febs-server/febs-server-system/src/main/resources/logback-spring.xml
febs-server/febs-server-test/src/main/resources/logback-spring.xml
log/
